<app-error [isError]="isError" [error]="error"></app-error>
<div class="container" *ngIf="!isError">
  <app-todo-selected-list-item *ngIf="routeId && selectedTask" [task_id]="routeId"></app-todo-selected-list-item>
  <br><br>  
  <div class="row searchbar">
    <div class="col-auto">
      <button type="button" class="btn btn-primary" (click)="addNewTask()">Add New Task</button>
    </div>
    <div class="col-auto">
      <label for="search" class="col-form-label">  Search {{ !(selectedTask && routeId) ? 'Tasks': 'Subtasks' }}</label>
    </div>
    <div class="col-auto">
      <input #search type="text" class="form-control" (keyup.enter)="searchquery(search.value)">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" (click)="searchquery(search.value)">Search</button>
    </div>
  </div>

  <table class="table table-hover" [ngStyle]="{'margin-top': '40px'}">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col ">Tags</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>      
        <tr *ngFor="let task of tasks; let i = index">
          <th scope="row" (click)="viewTask(task.id)"> {{ task.id }} </th>
          <td (click)="viewTask(task.id)"> {{ task.title }}</td>
          <td (click)="viewTask(task.id)"> {{ task.description }}</td>
          <td (click)="viewTask(task.id)">
            <div class="tag-list">
              <span class="tag">{{ task.tags[0].name }}</span>
            </div>
          </td>
          <td>
            <i class="fas fa-edit icon" [routerLink]="['/task', 'edit', task.id]"></i>
            <i class="fas fa-trash-alt icon" (click)="deleteTask(task.id)"></i>            
          </td>
        </tr>      
    </tbody>
  </table>
</div>